/******************************************
# RESET
/******************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  font-family: "Roboto", sans-serif;
}



/******************************************
# UTILITY
/******************************************/

.container {
  max-width: 1000px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}


/******************************************
# DEBUG
/******************************************/

.debug {
  background-color: rgb(215, 255, 242);
  padding-top: 1rem;
  padding-bottom: 1rem;
}